In [1]:
import sqlite3
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

cursor.execute('''
               CREATE TABLE IF NOT EXISTS clientes (
                   id INTEGER PRIMARY KEY,
                   nombre TEXT NOT NULL,
                   telefono TEXT
               )
''')
cursor.execute('''
               CREATE TABLE IF NOT EXISTS pedidos (
                   id INTEGER PRIMARY KEY,
                   cliente_id INTEGER NOT NULL,
                   fecha DATE NOT NULL,
                   total_pedido REAL NOT NULL
               )
''')

conn.commit()
conn.close()

In [2]:

conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

cursor.executemany("INSERT INTO clientes (nombre, telefono) VALUES (?, ?)", [
    ('Juan', '123456'),
    ('Pedro', '654321'),
    ('Pablo', '456789')
])
cursor.executemany("INSERT INTO pedidos (cliente_id, fecha, total_pedido) VALUES (?, ?, ?)", [
    (1, '2020-01-01', 100.0),
    (2, '2020-01-02', 200.0),
    (3, '2020-01-03', 300.0)
])

conn.commit()
conn.close()

In [15]:
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# WHERE: Se usa para filtrar los resultados.
clientes = cursor.execute('SELECT * FROM clientes WHERE nombre = "Juan"').fetchall() 

# ORDER BY: Ordena los resultados de acuerdo a una columna
clientes = cursor.execute('SELECT * FROM clientes ORDER BY nombre').fetchall()

# INSERT INTO: Para insertar nuevos registros en una tabla.
# cursor.execute("INSERT INTO clientes (nombre, telefono) VALUES ('Maria', '987654')")
# conn.commit()

# UPDATE: Se usa para modificar registros existentes.
# cursor.execute("UPDATE clientes SET telefono = '555-9876' WHERE nombre = 'Maria'")
# conn.commit()

# DELETE: Elimina registros de la tabla
cursor.execute("DELETE FROM clientes WHERE nombre = 'Maria'")
conn.commit()


for cliente in clientes:
    print(cliente)

(1, 'Juan', '123456')
(3, 'Pablo', '456789')
(2, 'Pedro', '654321')

In [ ]:
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

cursor.execute('''
               SELECT clientes.nombre, pedidos.fecha, pedidos.total_pedido
               FROM clientes
               INNER JOIN pedidos ON clientes.id = pedidos.cliente_id
''')
clientes = cursor.fetchall()

for cliente in clientes:
    print(cliente)

conn.commit()
conn.close()

('Juan', '2020-01-01', 100.0)
('Pedro', '2020-01-02', 200.0)
('Pablo', '2020-01-03', 300.0)

ProgrammingError: Cannot operate on a closed database.

In [7]:
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

cursor.execute('''
               SELECT nombre
               FROM clientes
               WHERE id IN (SELECT cliente_id FROM pedidos WHERE total_pedido >= 200)
''')

clientes = cursor.fetchall()
for cliente in clientes:
    print(cliente)

conn.commit()
conn.close()

('Pedro',)
('Pablo',)

In [8]:
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

cursor.execute('''
               SELECT SUM(total_pedido) FROM pedidos
''')
total = cursor.fetchone()
print(total)

conn.commit()
conn.close()

(600.0,)